@model MTrade.Models.Тип_кузова

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Тип_кузова</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Описание)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Описание)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Код_типа_кузова }) |
    @Html.ActionLink("Back to List", "Index")
</p>
