@model IEnumerable<MTrade.Models.Должности>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Наименование_должности)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Оклад)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Обязанности)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Требования)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Наименование_должности)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Оклад)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Обязанности)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Требования)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Код_должности }) |
            @Html.ActionLink("Details", "Details", new { id=item.Код_должности }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Код_должности })
        </td>
    </tr>
}

</table>
